---
import Layout from '../layouts/Layout.astro'
import Feature from '../components/sections/Feature.astro'
import Gallery from '../components/sections/Gallery.astro'
import Cta from '../components/sections/Cta.astro'
---

<Layout title='Welcome(ようこそ) to Astrokyo Day and Night'>
  <main class='flex flex-col gap-y-20 md:gap-y-32 overflow-hidden'>
    <Feature />
    <Gallery />
    <Cta />
  </main>
</Layout>
